 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1113px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 34px 165px 0 auto;
  padding: 5px 24px 6px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -38px 56px 0 auto;
  padding: 5px 13px 6px 12px;
}

.u-section-1 .u-group-1 {
  width: 534px;
  min-height: 700px;
  height: auto;
  margin: 167px auto 0 56px;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 0 0;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 217px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 217px;
  margin: -217px 15px 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -21px auto 0 15px;
  padding: 10px 19px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px 15px 0 auto;
  padding: 10px 28px 10px 27px;
}

.u-section-1 .u-image-3 {
  width: 267px;
  height: 217px;
  margin: 34px auto 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px auto 0;
  padding: 10px 19px;
}

.u-section-1 .u-group-2 {
  width: 452px;
  min-height: 73px;
  height: auto;
  margin: 68px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 87px 276px 0 651px;
  padding: 6px 38px 7px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -39px 56px 0 auto;
  padding: 6px 53px 7px 52px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 433px;
  margin: -939px 56px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 830px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  margin: -1px -1px 0 auto;
  padding: 10px 18px; 
}

.u-section-1 .u-icon-1 {
  font-size: 3.4376em;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  margin: -63px auto 0 39px;
  padding: 0 17px 0 16px;
}

.u-section-1 .u-icon-2 {
  font-size: 3.4376em;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 165px;
  margin: -56px auto 0;
}

.u-section-1 .u-image-4 {
  height: 131px;
  width: 131px;
  background-image: url("/t4_web/static/src/images/1144760.png?rand=3762");
  background-position: 50% 50%;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 11px 105px 0 111px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 164px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 9px 85px 0 91px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 12px 85px 0 91px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 12px 85px 0 91px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 12px 85px 0 91px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  margin: 191px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 47px;
  height: 47px;
  margin: 15px auto 0 86px;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 47px;
  height: 47px;
  margin: -47px auto 10px 300px;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  font-size: 1rem;
  margin: -905px auto 0 -40px;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-12 {
  font-size: 1rem;
  margin: 19px auto 0 -40px;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-13 {
  font-size: 1rem;
  margin: 19px auto 0 -40px;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-14 {
  font-size: 1rem;
  margin: 19px auto 0 -40px;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-15 {
  font-size: 1rem;
  margin: 19px auto 0 -40px;
  padding: 0;
}

.u-section-1 .u-icon-13 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-16 {
  font-size: 1rem;
  margin: 19px auto 583px -40px;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  font-size: 2.1876em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 157px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 44px;
  }

  .u-section-1 .u-group-1 {
    width: 391px;
    min-height: 697px;
    margin-left: 61px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    height: 150px;
  }

  .u-section-1 .u-image-2 {
    width: 150px;
    height: 150px;
    margin-top: -150px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: -9px;
    margin-left: 5px;
    padding: 9px 8px 11px 7px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: -39px;
    margin-right: 9px;
    padding-right: 12px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 256px;
    height: 208px;
    margin-top: 38px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.75rem;
    margin-top: -21px;
  }

  .u-section-1 .u-group-2 {
    width: 296px;
    margin-top: 91px;
    margin-left: 40px;
    height: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 107px;
    margin-right: 223px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    padding-left: 53px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 817px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 0;
    padding-left: 13px;
  }

  .u-section-1 .u-text-2 {
    width: 215px;
  }

  .u-section-1 .u-text-4 {
    width: 255px;
  }

  .u-section-1 .u-text-5 {
    width: 254px;
  }

  .u-section-1 .u-text-6 {
    width: 255px;
  }

  .u-section-1 .u-text-7 {
    width: 255px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 183px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 8px;
    margin-left: 87px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: -50px;
    padding-right: 15px;
    padding-left: 13px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: -50px;
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-13 {
    border-style: solid;
    margin-left: -50px;
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-14 {
    border-style: solid;
    margin-left: -50px;
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-15 {
    border-style: solid;
    margin-left: -50px;
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-16 {
    border-style: solid;
    margin-left: -50px;
    padding-right: 15px;
    padding-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1903px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1853px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 145px;
    padding-right: 35px;
    padding-left: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 20px;
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-group-1 {
    width: 529px;
    margin-top: 998px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 34px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 13px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 13px;
    padding-right: 17px;
    padding-left: 15px;
  }

  .u-section-1 .u-group-2 {
    width: 411px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -785px;
    margin-right: auto;
    margin-left: 96px;
    padding-right: 63px;
    padding-left: 61px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 92px;
    margin-bottom: 747px;
    padding-left: 77px;
    padding-right: 77px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 529px;
    margin-top: -1749px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 858px;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -62px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-4 {
    width: 243px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 242px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 243px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 243px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 216px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 31px;
    margin-left: 106px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -908px;
    margin-left: -17px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: -17px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: -17px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -17px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: -17px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1922px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1798px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 134px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 422px;
  }

  .u-section-1 .u-group-2 {
    width: 352px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -786px;
    margin-left: 58px;
    padding-right: 35px;
    padding-bottom: 6px;
    padding-left: 34px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 58px;
    margin-bottom: 0;
    padding-right: 50px;
    padding-bottom: 6px;
    padding-left: 49px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 422px;
    margin-top: -1701px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 873px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -71px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 105px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 85px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 85px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 85px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 85px;
    margin-left: 91px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 168px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 13px;
    margin-left: 80px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 79px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -956px;
    margin-left: -50px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: -50px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: -50px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -50px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: -50px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1786px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 107px;
  }

  .u-section-1 .u-group-1 {
    min-height: 716px;
    width: 289px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 125px;
    height: 125px;
    margin-top: -125px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: -35px;
    margin-right: 4px;
    padding-top: 9px;
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 252px;
    height: 205px;
    margin-top: 36px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-top: -18px;
  }

  .u-section-1 .u-group-2 {
    width: 220px;
    min-height: 133px;
    margin-top: 72px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.8125rem;
    margin-top: -807px;
    margin-left: 38px;
    padding-top: 5px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.8125rem;
    margin-top: -31px;
    margin-right: 13px;
    padding: 5px 28px 5px 27px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 290px;
    margin-top: -1682px;
    margin-right: 12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 867px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -67px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 38px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 38px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 38px;
    margin-left: 45px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 159px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 22px;
    margin-left: 45px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 47px;
  }

  .u-section-1 .u-btn-11 {
    font-size: 0.875rem;
    margin-top: -670px;
    margin-left: -32px;
  }

  .u-section-1 .u-btn-12 {
    font-size: 0.875rem;
    margin-left: -32px;
  }

  .u-section-1 .u-btn-13 {
    font-size: 0.875rem;
    margin-left: -32px;
  }

  .u-section-1 .u-btn-14 {
    font-size: 0.875rem;
    margin-left: -32px;
  }

  .u-section-1 .u-btn-15 {
    font-size: 0.875rem;
    margin-left: -32px;
  }

  .u-section-1 .u-btn-16 {
    font-size: 0.875rem;
    margin-bottom: 60px;
    margin-left: -32px;
  }
}
