 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 579px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  width: 489px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-1 {
  width: 458px;
  height: 293px;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 579px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-form-1 {
  height: 345px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  margin-top: 117px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  height: 47px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  height: 47px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-weight: normal;
  text-transform: none;
  padding: 9px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-1 .u-text-3 {
    width: 410px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 262px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 300px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 192px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}