.u-block-b4fc-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-b4fc-3 {
  background-image: none;
  padding: 13px;
}

.u-block-b4fc-4 {
  background-image: none;
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-block-b4fc-3 {
    width: 65px;
    height: 65px;
    left: 0;
    right: auto;
    position: absolute;
  }

  .u-block-b4fc-4 {
    width: 65px;
    height: 65px;
    left: auto;
    right: 0;
    position: absolute;
  }
}

.u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 822px;
}

.u-section-1-1 .u-list-1 {
  grid-template-rows: auto;
  width: 941px;
  margin: 141px auto 60px;
}

.u-section-1-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  grid-gap: 26px 26px;
  grid-auto-columns: calc(33.3333% - 17.3333px);
  min-height: 579px;
}

.u-section-1-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1-1 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 23px auto 0 47px;
  padding: 0;
}

.u-section-1-1 .u-icon-2 {
  width: 89px;
  height: 89px;
  margin: -2px auto 0;
  padding: 0;
}

.u-section-1-1 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: -6px auto 0;
  padding: 31px;
}

.u-section-1-1 .u-text-1 {
  font-size: 1.125rem;
  margin: -43px 27px 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-style: italic;
  font-size: 1rem;
  padding: 10px 96px;
}

.u-section-1-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 9px auto 0;
  padding: 10px 94px 10px 93px;
}

.u-section-1-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 11px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-1-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 11px auto 0;
  padding: 10px 77px 10px 76px;
}

.u-section-1-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -34px auto 0 77px;
  padding: 0;
}

.u-section-1-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 28px auto 0;
  padding: 10px 57px;
}

.u-section-1-1 .u-icon-5 {
  width: 16px;
  height: 16px;
  margin: -32px auto 0 61px;
  padding: 0;
}

.u-section-1-1 .u-icon-6 {
  width: 42px;
  height: 42px;
  margin: 33px 68px 0 auto;
  padding: 0;
}

.u-section-1-1 .u-icon-7 {
  width: 53px;
  height: 53px;
  margin: -47px auto 0 57px;
  padding: 5px;
}

.u-section-1-1 .u-icon-8 {
  width: 42px;
  height: 42px;
  margin: -47px auto 0;
  padding: 0;
}

.u-section-1-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1-1 .u-icon-9 {
  width: 44px;
  height: 44px;
  margin: 23px auto 0 47px;
  padding: 0;
}

.u-section-1-1 .u-icon-10 {
  width: 89px;
  height: 89px;
  margin: -2px auto 0;
  padding: 0;
}

.u-section-1-1 .u-icon-11 {
  width: 36px;
  height: 36px;
  margin: -6px auto 0;
  padding: 31px;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -43px 27px 0;
}

.u-section-1-1 .u-btn-6 {
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  padding: 10px 97px 10px 96px;
}

.u-section-1-1 .u-btn-7 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 9px auto 0;
  padding: 10px 94px 10px 93px;
}

.u-section-1-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 11px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-1-1 .u-btn-9 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 11px auto 0;
  padding: 10px 77px 10px 76px;
}

.u-section-1-1 .u-icon-12 {
  width: 20px;
  height: 20px;
  margin: -34px auto 0 77px;
  padding: 0;
}

.u-section-1-1 .u-btn-10 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 28px auto 0;
  padding: 10px 57px;
}

.u-section-1-1 .u-icon-13 {
  width: 16px;
  height: 16px;
  margin: -32px auto 0 61px;
  padding: 0;
}

.u-section-1-1 .u-icon-14 {
  width: 42px;
  height: 42px;
  margin: 33px 68px 0 auto;
  padding: 0;
}

.u-section-1-1 .u-icon-15 {
  width: 53px;
  height: 53px;
  margin: -47px auto 0 57px;
  padding: 5px;
}

.u-section-1-1 .u-icon-16 {
  width: 42px;
  height: 42px;
  margin: -47px auto 0;
  padding: 0;
}

.u-section-1-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1-1 .u-icon-17 {
  width: 44px;
  height: 44px;
  margin: 23px auto 0 47px;
  padding: 0;
}

.u-section-1-1 .u-icon-18 {
  width: 89px;
  height: 89px;
  margin: -2px auto 0;
  padding: 0;
}

.u-section-1-1 .u-icon-19 {
  width: 36px;
  height: 36px;
  margin: -6px auto 0;
  padding: 31px;
}

.u-section-1-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -43px 27px 0;
}

.u-section-1-1 .u-btn-11 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  padding: 10px 97px 10px 95px;
}

.u-section-1-1 .u-btn-12 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 9px auto 0;
  padding: 10px 94px 10px 93px;
}

.u-section-1-1 .u-btn-13 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 11px auto 0;
  padding: 10px 91px 10px 89px;
}

.u-section-1-1 .u-btn-14 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 11px auto 0;
  padding: 10px 77px 10px 76px;
}

.u-section-1-1 .u-icon-20 {
  width: 20px;
  height: 20px;
  margin: -34px auto 0 77px;
  padding: 0;
}

.u-section-1-1 .u-btn-15 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-style: italic;
  margin: 28px auto 0;
  padding: 10px 57px;
}

.u-section-1-1 .u-icon-21 {
  width: 16px;
  height: 16px;
  margin: -32px auto 0 61px;
  padding: 0;
}

.u-section-1-1 .u-icon-22 {
  width: 42px;
  height: 42px;
  margin: 33px 68px 0 auto;
  padding: 0;
}

.u-section-1-1 .u-icon-23 {
  width: 53px;
  height: 53px;
  margin: -47px auto 0 57px;
  padding: 5px;
}

.u-section-1-1 .u-icon-24 {
  width: 42px;
  height: 42px;
  margin: -47px auto 0;
  padding: 0;
}

.u-section-1-1 .u-gallery-nav-1 {
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
  top: 270px;
}

.u-section-1-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 270px;
  right: 2px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-1-1 .u-list-1 {
    width: 782px;
    margin-top: 60px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
  }

  .u-section-1-1 .u-icon-1 {
    margin-top: 24px;
    margin-left: 29px;
  }

  .u-section-1-1 .u-icon-2 {
    margin-top: -3px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: -42px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-top: 8px;
    padding-right: 93px;
    padding-left: 92px;
  }

  .u-section-1-1 .u-btn-3 {
    padding-right: 89px;
  }

  .u-section-1-1 .u-icon-4 {
    margin-left: 57px;
  }

  .u-section-1-1 .u-btn-5 {
    padding-left: 56px;
  }

  .u-section-1-1 .u-icon-5 {
    margin-left: 38px;
  }

  .u-section-1-1 .u-icon-6 {
    margin-top: 34px;
    margin-right: 38px;
  }

  .u-section-1-1 .u-icon-7 {
    margin-left: 24px;
  }

  .u-section-1-1 .u-icon-8 {
    margin-top: -46px;
  }

  .u-section-1-1 .u-icon-9 {
    margin-top: 24px;
    margin-left: 29px;
  }

  .u-section-1-1 .u-icon-10 {
    margin-top: -3px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: -42px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1-1 .u-btn-7 {
    margin-top: 8px;
    padding-right: 93px;
    padding-left: 92px;
  }

  .u-section-1-1 .u-btn-8 {
    padding-right: 89px;
  }

  .u-section-1-1 .u-icon-12 {
    margin-left: 57px;
  }

  .u-section-1-1 .u-btn-10 {
    padding-left: 56px;
  }

  .u-section-1-1 .u-icon-13 {
    margin-left: 38px;
  }

  .u-section-1-1 .u-icon-14 {
    margin-top: 34px;
    margin-right: 38px;
  }

  .u-section-1-1 .u-icon-15 {
    margin-left: 24px;
  }

  .u-section-1-1 .u-icon-16 {
    margin-top: -46px;
  }

  .u-section-1-1 .u-icon-17 {
    margin-top: 24px;
    margin-left: 29px;
  }

  .u-section-1-1 .u-icon-18 {
    margin-top: -3px;
  }

  .u-section-1-1 .u-text-3 {
    width: auto;
    margin-top: -42px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1-1 .u-btn-12 {
    margin-top: 8px;
    padding-right: 93px;
    padding-left: 92px;
  }

  .u-section-1-1 .u-btn-13 {
    padding-right: 89px;
  }

  .u-section-1-1 .u-icon-20 {
    margin-left: 57px;
  }

  .u-section-1-1 .u-btn-15 {
    padding-left: 56px;
  }

  .u-section-1-1 .u-icon-21 {
    margin-left: 38px;
  }

  .u-section-1-1 .u-icon-22 {
    margin-top: 34px;
    margin-right: 38px;
  }

  .u-section-1-1 .u-icon-23 {
    margin-left: 24px;
  }

  .u-section-1-1 .u-icon-24 {
    margin-top: -46px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-list-1 {
    width: 597px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    grid-auto-columns: calc(50% - 12.999975000000001px);
  }

  .u-section-1-1 .u-text-1 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-icon-4 {
    margin-left: 77px;
  }

  .u-section-1-1 .u-icon-5 {
    margin-left: 61px;
  }

  .u-section-1-1 .u-icon-6 {
    margin-top: 38px;
    margin-right: 60px;
  }

  .u-section-1-1 .u-icon-7 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-icon-8 {
    margin-top: -47px;
  }

  .u-section-1-1 .u-text-2 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-icon-12 {
    margin-left: 77px;
  }

  .u-section-1-1 .u-icon-13 {
    margin-left: 61px;
  }

  .u-section-1-1 .u-icon-14 {
    margin-top: 38px;
    margin-right: 60px;
  }

  .u-section-1-1 .u-icon-15 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-icon-16 {
    margin-top: -47px;
  }

  .u-section-1-1 .u-text-3 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-icon-20 {
    margin-left: 77px;
  }

  .u-section-1-1 .u-icon-21 {
    margin-left: 61px;
  }

  .u-section-1-1 .u-icon-22 {
    margin-top: 38px;
    margin-right: 60px;
  }

  .u-section-1-1 .u-icon-23 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-icon-24 {
    margin-top: -47px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-list-1 {
    width: 351px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1-1 .u-icon-1 {
    margin-top: 33px;
    margin-left: 59px;
  }

  .u-section-1-1 .u-icon-2 {
    margin-top: -12px;
  }

  .u-section-1-1 .u-text-1 {
    width: 233px;
  }

  .u-section-1-1 .u-btn-1 {
    padding-right: 95px;
    padding-left: 94px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-top: 7px;
    padding-right: 92px;
    padding-left: 90px;
  }

  .u-section-1-1 .u-btn-3 {
    margin-top: 7px;
    padding-right: 87px;
    padding-left: 86px;
  }

  .u-section-1-1 .u-btn-4 {
    margin-top: 7px;
    padding-right: 75px;
    padding-left: 73px;
  }

  .u-section-1-1 .u-icon-4 {
    margin-left: 103px;
  }

  .u-section-1-1 .u-btn-5 {
    margin-top: 22px;
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-1-1 .u-icon-5 {
    margin-left: 93px;
  }

  .u-section-1-1 .u-icon-6 {
    margin-right: 79px;
  }

  .u-section-1-1 .u-icon-7 {
    width: 50px;
    height: 50px;
    margin-top: -46px;
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-1-1 .u-icon-8 {
    margin-top: -46px;
    margin-right: 145px;
  }

  .u-section-1-1 .u-icon-9 {
    margin-top: 33px;
    margin-left: 59px;
  }

  .u-section-1-1 .u-icon-10 {
    margin-top: -12px;
  }

  .u-section-1-1 .u-text-2 {
    width: 233px;
  }

  .u-section-1-1 .u-btn-6 {
    padding-right: 94px;
    padding-left: 93px;
  }

  .u-section-1-1 .u-btn-7 {
    margin-top: 7px;
    padding-right: 92px;
    padding-left: 90px;
  }

  .u-section-1-1 .u-btn-8 {
    margin-top: 7px;
    padding-right: 87px;
    padding-left: 86px;
  }

  .u-section-1-1 .u-btn-9 {
    margin-top: 7px;
    padding-right: 75px;
    padding-left: 73px;
  }

  .u-section-1-1 .u-icon-12 {
    margin-left: 103px;
  }

  .u-section-1-1 .u-btn-10 {
    margin-top: 22px;
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-1-1 .u-icon-13 {
    margin-left: 93px;
  }

  .u-section-1-1 .u-icon-14 {
    margin-right: 79px;
  }

  .u-section-1-1 .u-icon-15 {
    width: 50px;
    height: 50px;
    margin-top: -46px;
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-1-1 .u-icon-16 {
    margin-top: -46px;
    margin-right: 145px;
  }

  .u-section-1-1 .u-icon-17 {
    margin-top: 33px;
    margin-left: 59px;
  }

  .u-section-1-1 .u-icon-18 {
    margin-top: -12px;
  }

  .u-section-1-1 .u-text-3 {
    width: 233px;
  }

  .u-section-1-1 .u-btn-11 {
    padding-left: 93px;
    padding-right: 93px;
  }

  .u-section-1-1 .u-btn-12 {
    margin-top: 7px;
    padding-right: 92px;
    padding-left: 90px;
  }

  .u-section-1-1 .u-btn-13 {
    margin-top: 7px;
    padding-right: 87px;
    padding-left: 86px;
  }

  .u-section-1-1 .u-btn-14 {
    margin-top: 7px;
    padding-right: 75px;
    padding-left: 73px;
  }

  .u-section-1-1 .u-icon-20 {
    margin-left: 103px;
  }

  .u-section-1-1 .u-btn-15 {
    margin-top: 22px;
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-1-1 .u-icon-21 {
    margin-left: 93px;
  }

  .u-section-1-1 .u-icon-22 {
    margin-right: 79px;
  }

  .u-section-1-1 .u-icon-23 {
    width: 50px;
    height: 50px;
    margin-top: -46px;
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-1-1 .u-icon-24 {
    margin-top: -46px;
    margin-right: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-list-1 {
    width: 279px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1-1 .u-icon-1 {
    margin-top: 35px;
    margin-left: 38px;
  }

  .u-section-1-1 .u-icon-2 {
    margin-top: 2px;
  }

  .u-section-1-1 .u-btn-4 {
    margin-top: 13px;
  }

  .u-section-1-1 .u-icon-4 {
    margin-left: 70px;
  }

  .u-section-1-1 .u-icon-5 {
    margin-top: -34px;
    margin-left: 52px;
  }

  .u-section-1-1 .u-icon-6 {
    margin-top: 54px;
    margin-right: 57px;
  }

  .u-section-1-1 .u-icon-7 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-icon-8 {
    margin-right: auto;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1-1 .u-icon-9 {
    margin-top: 35px;
    margin-left: 38px;
  }

  .u-section-1-1 .u-icon-10 {
    margin-top: 2px;
  }

  .u-section-1-1 .u-btn-9 {
    margin-top: 13px;
  }

  .u-section-1-1 .u-icon-12 {
    margin-left: 70px;
  }

  .u-section-1-1 .u-icon-13 {
    margin-top: -34px;
    margin-left: 52px;
  }

  .u-section-1-1 .u-icon-14 {
    margin-top: 54px;
    margin-right: 57px;
  }

  .u-section-1-1 .u-icon-15 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-icon-16 {
    margin-right: auto;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1-1 .u-icon-17 {
    margin-top: 35px;
    margin-left: 38px;
  }

  .u-section-1-1 .u-icon-18 {
    margin-top: 2px;
  }

  .u-section-1-1 .u-btn-14 {
    margin-top: 13px;
  }

  .u-section-1-1 .u-icon-20 {
    margin-left: 70px;
  }

  .u-section-1-1 .u-icon-21 {
    margin-top: -34px;
    margin-left: 52px;
  }

  .u-section-1-1 .u-icon-22 {
    margin-top: 54px;
    margin-right: 57px;
  }

  .u-section-1-1 .u-icon-23 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-icon-24 {
    margin-right: auto;
  }
}

/* Search */
.box-search {
  display: flex;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 100%;
}

.form-search {
  flex: 1;
}

.filter-search {
  display: flex;
  align-items: center;
}

.filter-select {
  min-width: 160px;
}

.filter-label {
  padding-right: 16px;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .form-search-2 {
    position: relative;
    left: 480px;
  }

  .form-search {
    width: 488px;
    flex: unset;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .filter-select {
    min-width: 120px;
  }
}